@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.navbar{
    width: 100%;
    height: 5rem;
    padding: 70px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(39, 37, 37, 0);
    font-family: var(--primaryFont);
    .title{
        .titleLogo{
            color: #fff700 !important;
            text-decoration: none;
            font-size: 1.5rem;
            line-height: 30px;
            cursor: pointer;
            user-select: none;
            }
            .tools{
                margin-bottom: 5px;
            }
            .practienda{
                font-size: 1rem;
                color: aliceblue;
            }
    }
    .list-nav{
        font-weight: 900;
        font-size: 1.5rem;
        width: 50%;
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        color: #f9f9f9;

        .item-nav{
            position: relative;
            border-radius: 12px;
            padding: 10px;
            .name-list-nav{
                text-decoration: none; 
                color: #f9f9f9;
                cursor:default;
                padding: 20px 20px 20px 0;
            }
            .icon{
                color: #f6e500;
                position: relative;
                top: 7px;
                font-size: 1.8rem;
            }
            .navHoverElement{
                width: 320px;
                padding: 20px;
                border-radius: 10px;
                background: rgb(28, 27, 27);
                position: absolute;
                top: 80px;
                .listHover{
                    list-style: none;
                    li{
                        font-size: 1.3rem;
                        margin: 10px 0;
                    }
                    .icon-list{
                        position: relative;
                        top: 5px;
                        color: #f6e500;
                    }
                }
            }
            &:before {
                content: "";
                border-radius: 12px;
                background-color: #f6e500;
                inset: 0;
                position: absolute;
                z-index: -1;
                transform-origin: right;
                transform: scaleX(0);
                transition: transform 0.5s ease-in-out;
            }
            &:hover{
                .name-list-nav{
                    color: #181818;
                    transition: var(--transition);
                }
                .icon{
                    transform: rotate(0.25turn);
                    transition: var(--transition);
                    color: #181818;
                }
            }
            
            &:hover::before {
                transform: scaleX(1);
                transform-origin: left;

            }
        }
        
    }
}
