.footer{
    width: 100%;
    background: #151515;
    margin: auto;
    bottom: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 90px 0;
    color: aliceblue;
    .infoPage{
        width: 20%;
        display: flex;
        flex-direction: column;
        .title{
            color: #fff700;
            .titleLogo{
                font-size: 3rem;
                line-height: 45px;
                cursor: pointer;
                user-select: none;
                hr{
                    margin: 10px 0;
                }
                .tools{
                    margin-bottom: 5px;
                }
                .practienda{
                    font-size: 2rem;
                    color: aliceblue;
                }
                .p-underTitle{
                    margin-top: 30px;
                }
            }

        }
    }
    .title-tools{
        color: #fff700;
        margin-bottom: 30px;
    }
    .tools-company{
        display: flex;
        gap: 5rem;
        .footer-list{
            list-style: none;
            margin-top: 30px;
            li{
                margin-top:10px;
                font-size: 1.2rem;
            }
        }
    }
    .socials{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .list-socials{
            list-style: none;
            display: flex;
            justify-content: space-between;
            font-size: 2.3rem;
        }
        .donate-button{
            color: #1a1a1a;
            font-size: 3rem;
            text-decoration: none;
            background: #fff700;
            border-radius: 50px;
            padding: 20px;
            font-weight: 700;
            .icon{
                position: relative;
                top: 7px;
            }
        }
    }
}

