.gradient-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  font-family: var(--principalFont);
  border-radius: 15px;
}
.gradient-container .title-tool {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 20px;
  border-radius: 15px;
  -webkit-text-stroke: 0.2px black;
  color: #fff700;
  font-size: 4rem;
}
.gradient-container .title-tool .name-logo {
  color: #ffffff;
  font-size: 1.5rem;
  position: relative;
  top: -30px;
}
.gradient-container .color-display-gradient {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.gradient-container .color-display-gradient .color-display-item {
  display: flex;
}
.gradient-container .color-display-gradient .color-display-item .input-color {
  min-width: 70px;
  height: 80px;
  border-radius: 15px;
  padding: 5px;
}
.gradient-container .color-display-gradient .color-display-item .info-display-box {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.gradient-container .color-display-gradient .color-display-item .info-display-box .label-gradient {
  -webkit-text-stroke: 0.4px black;
  font-size: 1.3rem;
  font-weight: 900;
}
.gradient-container .color-display-gradient .color-display-item .info-display-box .color-text {
  font-weight: 900;
  text-transform: uppercase;
  -webkit-text-stroke: 0.4px black;
  font-size: 2rem;
}
.gradient-container .controls-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.gradient-container .controls-container .title-controls {
  font-size: 3rem;
  color: #fff;
}
.gradient-container .controls-container .controls-gradient {
  border-radius: 15px;
  text-align: center;
  color: rgb(255, 255, 255);
  height: auto;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  background: none;
}
.gradient-container .controls-container .controls-gradient .button-control-gradient {
  font-size: 2rem;
  border-radius: 15px;
  color: #ffffff;
  background: #6c6c6c;
  padding: 10px 20px;
  font-weight: 900;
}
.gradient-container .info-gradient-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.gradient-container .info-gradient-container .btn-copy-gradient {
  width: 50%;
  border-radius: 15px;
  padding: 20px;
  background: #00fbff;
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  margin: 40px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 16px 20px 28px 0px rgba(0, 0, 0, 0.75);
}
.gradient-container .info-gradient-container .textarea-gradient {
  text-align: center;
  font-size: 1.1rem;
  resize: none;
  width: 700px;
  height: 45px;
  background-color: #6c6c6c;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 10px;
}
.gradient-container .arrow-info-gradient {
  transform: rotate(20deg);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 10%;
}
.gradient-container .arrow-info-gradient .arrow-select {
  font-size: 2rem;
  color: #fff;
  font-weight: 800;
  font-family: var(--primaryFont);
}/*# sourceMappingURL=gradientGenerator.css.map */