.glass-controls{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        flex: 0.3;
        .title{
            user-select: none;
            -webkit-text-stroke: 0.2px black;
            color: #fff700;
            font-size: 3.5rem;
            .name-logo{
                color: #000000;
                font-size: 2rem;
                position: relative;
                top: -30px;
            }
        }

        .glass-control{
            display: flex;
            align-items: center;
            margin-top: 20px;
        }

        .code-glass{
            font-size: 1.1rem;
            margin-top: 20px;
            width: 80%;
            resize: none;
            height: 110px;
            cursor: default;
            user-select: none;
        }

        .copy-text{
            z-index: 2;
            cursor: pointer;
            user-select: none;
            background-color: #00fbff;
            border-radius: 12px;
            margin: 30px 0 10px 0;
            padding: 15px;
            }
        }